@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Oswald:wght@500&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Handjet:wght@500&family=Oswald:wght@500&family=Quicksand:wght@300;400;500;600;700&display=swap");
html {
  height: 100%;
  font-family: "Quicksand", sans-serif;
}
div.background {
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(50%);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -10;
  filter: brightness(50%);
}
body {
  margin: 0;
}
h1 {
  text-align: center;
  color: antiquewhite;
  font-size: 3rem;
}
#intro {
  text-align: center;
  color: beige;
  font-weight: bold;
  font-size: larger;
}
#title {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(255, 243, 156);
  margin-top: 10vh;
  font-family: "Edu SA Beginner", cursive;
}
#facebook {
  border-color: #3b5998;
  background-color: #3b5998;
  text-align: center;
}
#facebook:hover {
  background-color: aliceblue;
}

a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  width: 100%;
  display: block;
}
#instagram {
  background-color: #fbad50;
  text-align: center;
}
#instagram:hover {
  background-color: aliceblue;
}
#Spotify {
  border-color: #1db954;
  background-color: #1db954;
  text-align: center;
}
#Spotify:hover {
  background-color: aliceblue;
}
div.button {
  border-radius: 12px;
  margin: 10px;
  width: 60%;
  margin-left: 12vw;
  transition-duration: 0.4s;
}
main {
  margin: auto;
  width: 60%;
  border-radius: 15px;
  backdrop-filter: brightness(50%);
  padding: 25px;
  margin-top: 25px;
}
#facebook a {
  color: aliceblue;
}
#facebook a:hover {
  color: #3b5998;
}
#instagram a {
  color: aliceblue;
}
#instagram a:hover {
  color: #fbad50;
}
#Spotify a {
  color: black;
}
#Spotify a:hover {
  color: #1db954;
}
