@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Oswald:wght@500&family=Quicksand:wght@300;400;500;600;700&display=swap");
html {
  height: 100%;
  font-family: "Quicksand", sans-serif;
}
div.background {
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(50%);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -10;
  filter: brightness(50%);
}
body {
  margin: 0;
}
h1 {
  text-align: center;
  color: antiquewhite;
  font-size: 3rem;
}
#intro {
  text-align: center;
  color: beige;
  font-weight: bold;
  font-size: larger;
}
#title {
  margin-left: 15vw;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(168, 173, 125);
}
#facebook {
  border-color: #3b5998;
  background-color: #3b5998;
  text-align: center;
}
a {
  color: aliceblue;
  text-decoration: none;
  font-size: x-large;
  font-weight: bolder;
}
#instagram {
  background-image: linear-gradient(
    to bottom right,
    #fccc63,
    #fbad50,
    #cd486b,
    #4c68d7
  );
  text-align: center;
}
div.button {
  border-radius: 12px;
  margin: 10px;
  width: 40%;
  margin-left: 10vw;
}
